<main class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab deleniti earum ex in natus quae, quisquam rerum sequi tempora voluptates! Aperiam beatae dicta hic incidunt laudantium necessitatibus omnis repudiandae vel?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, non.</p>
    <p>Lorem ipsum.</p>
</main>