<main class="container">
<!--    <div class="meta">-->
<!--        <p>TITLE: <%= locals.title %></p>-->
<!--        <p>USER: <%= locals.user %></p>-->
<!--        <p>LOGIN: <%= locals.login %></p>-->
<!--    </div>-->
    <table>
        <tbody>
        <tr>
            <td class="status"><i class='bx bxs-check-circle'></i></td>
            <td title="108WEB-SquidGameS01E01-WAYNE.part1.rar">108WEB-SquidGameS01E01-WAYNE.part1.rar
                <span>
                    <a href="https://google.com" target="blank" class="external_link">google.com</a>
                </span>
            </td>
            <td>1,001.00 MB</td>
            <td>
                <button class="download" target="_blank" title="herunterladen" data-i18n="herunterladen">Download
                </button>
            </td>
        </tr>
        <tr>
            <td class="status"><i class='bx bxs-check-circle'></i></td>
            <td title="108WEB-SquidGameS01E01-WAYNE.part1.rar">108WEB-SquidGameS01E01-WAYNE.part1.rar
                <span>
                    <a href="https://google.com" target="blank" class="external_link">google.com</a>
                </span>
            </td>
            <td>1,001.00 MB</td>
            <td>
                <button class="download" target="_blank" title="herunterladen" data-i18n="herunterladen">Download
                </button>
            </td>
        </tr>
        <tr>
            <td class="status"><i class='bx bxs-check-circle'></i></td>
            <td title="108WEB-SquidGameS01E01-WAYNE.part1.rar">108WEB-SquidGameS01E01-WAYNE.part1.rar
                <span>
                    <a href="https://google.com" target="blank" class="external_link">google.com</a>
                </span>
            </td>
            <td>1,001.00 MB</td>
            <td>
                <button class="download" target="_blank" title="herunterladen" data-i18n="herunterladen">Download
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</main>