<% if (locals.user) { %>
    <aside>
        <div class="toggle"></div>
        <ul>
            <i class='bx bxs-dashboard' onclick="move('dashboard')"></i>
            <i class='bx bxs-cog' onclick="move('settings')"></i>
            <i class='bx bxs-download' onclick="move('downloads')"></i>
            <i class='bx bxs-folder-open' onclick="move('files')"></i>
        </ul>
        <script>
            let aside = document.querySelector("aside");
            let toggleAsideELM = document.querySelector("aside .toggle");
            toggleAsideELM.addEventListener("click", () => {
                aside.classList.toggle("active")
            })

            function move(target) {
                window.location.href = "/" + target
            }
        </script>
    </aside>
<% } %>

