<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <%- include ('layouts/header.ejs', { title: 'Filo' })  %>

  <h1 class="main-h1">Welcome to <span><%= title %></span></h1>
  </body>
</html>
