@keyframes underline {
    from {
        text-decoration: underline var(--primary) 6px;
    }
    to {
        text-decoration: underline var(--secondary) 6px;
    }
}

@keyframes fade {
    from {
        transform: translateX(-45px);
    }
    to {
        transform: translateX(0px);
    }
}