.main-h1 {
    margin: 56px auto 0;
    text-align: center;
    font-size: 3rem;
}

.main-h1 span {
    animation: underline 8s alternate infinite;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--header);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    max-width: 75%;
    margin: 2rem auto;
    padding: 1rem 0;
    box-shadow: var(--shadow-light);
    min-width: 728px;
    width: 80%;
    /*max-width: 1000px;*/
}

.container table {
    border-spacing: 0;
    cursor: default;
}

.container table thead tr {
    color: var(--font-light);
    opacity: var(--opacity50);
}
.container table thead tr th{
    font-size: 16px;
    padding-bottom: 8px;
}
.container table thead th:nth-child(2) {
    text-align: left;
}

.container tbody td {
    color: var(--font-light);
}

.container td.status {
    text-align: center;
    color: var(--secondary);
    font-size: 1.5rem;
}

.container tr:nth-child(odd) td {
    background: #05314e;
}

.container tr td {
    font-size: 15px;
    height: 47px;
    box-sizing: border-box;
    padding-bottom: 1px;
}

.container tr td:nth-child(2) {
    text-align: left;
    color: var(--font-white);
}

.container tr td.file-size {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container tr td.file-size p {
    min-width: 34px;
}

.container tr td.file-size span {
    opacity: var(--opacity50);
    /*color: var(--font-meta);*/
}

.container tr td:nth-child(2) span {
    font-size: 11px;
    display: block;
    font-weight: normal;
    opacity: var(--opacity75);
    text-align: left;
}

.container tr td:nth-child(2) span a {
    text-decoration: none;
    color: var(--font-light);
}

.container table .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    background: var(--primary);
    color: var(--font-white);
    cursor: pointer;
    text-decoration: none;
    transition: all 250ms ease-in-out;
}

.container table .button:hover {
    background: var(--secondary);
    color: var(--primary);
}

.offline {
    color: var(--offline);
}

.button.offline {
    opacity: var(--opacity50);
    pointer-events: none;
}

.online {
    color: var(--online);
}